* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body-agendar .body-comida .body-index .body-juegos .body-contacto {
  padding: 1.8em;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #181818;
  color: white;
}

.logo {
  height: 50px;
}

/*Comienzo del BODY de INDEX*/
.carusel {
  margin: 40px 20px 5px 20px;
}

.img-size {
  width: auto;
  height: auto;
}

.articulo-nosotros h1 {
  text-align: center;
}

.articulo-nosotros h2 span {
  color: rgb(250, 78, 78);
}

.articulo-nosotros h2 {
  text-align: center;
}

.card-img-top {
  width: auto;
  height: 200px;
}

.articulo-mapa, .articulo-nosotros {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  margin: 20px 10px;
  padding: 5px 10px 10px 10px;
}

.articulo-mapa div h2 {
  text-align: center;
}

.flex-mapa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.flex-mapa .mapa {
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .row {
    align-items: center;
  }
}
.comida-logo, .bebidas-logo, .aperativos-logo {
  background-color: #D63031;
  padding: 50px;
  display: flex;
  text-align: center;
}

.comida-text, .aperativos-text, .bebidas-text {
  margin: auto;
}

.margin-comida {
  margin: 20px;
}

.grid-pizza, .grid-hamburguesas, .grid-alitas, .grid-helados, .grid-sodas, .grid-alcohol {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  width: 100%;
  justify-items: center;
}

.grid-alcohol-img, .grid-pizza-img, .grid-hamburguesas-img, .grid-alitas-img, .grid-helados-img, .grid-sodas-img {
  margin: 10px 0;
  width: 280px;
  height: 200px;
  border-radius: 20px;
}

.grid-pizza {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "grid-pizza-title grid-pizza-title" "grid-pizza-img grid-pizza-content";
}
.grid-pizza .grid-pizza-title {
  grid-area: grid-pizza-title;
  text-align: center;
  padding: 40px;
}
.grid-pizza .grid-pizza-img {
  grid-area: grid-pizza-img;
}
.grid-pizza .grid-pizza-content {
  grid-area: grid-pizza-content;
}
.grid-pizza .grid-pizza-content-all {
  display: flex;
  flex-direction: column;
}

.grid-hamburguesas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "grid-hamburguesas-title grid-hamburguesas-title" "grid-hamburguesas-img grid-hamburguesas-content";
}
.grid-hamburguesas .grid-hamburguesas-title {
  grid-area: grid-hamburguesas-title;
  text-align: center;
  padding: 40px;
}
.grid-hamburguesas .grid-hamburguesas-img {
  grid-area: grid-hamburguesas-img;
}
.grid-hamburguesas .grid-hamburguesas-content {
  grid-area: grid-hamburguesas-content;
}

.grid-alitas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "grid-alitas-title grid-alitas-title" "grid-alitas-img grid-alitas-content";
}
.grid-alitas .grid-alitas-title {
  grid-area: grid-alitas-title;
  text-align: center;
  padding: 40px;
}
.grid-alitas .grid-alitas-img {
  grid-area: grid-alitas-img;
}
.grid-alitas .grid-alitas-content {
  grid-area: grid-alitas-content;
}

.grid-helados {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "grid-helados-title grid-helados-title" "grid-helados-img grid-helados-cont";
}
.grid-helados .grid-helados-title {
  grid-area: grid-helados-title;
  text-align: center;
  padding: 40px;
}
.grid-helados .grid-helados-img {
  grid-area: grid-helados-img;
}
.grid-helados .grid-helados-cont {
  grid-area: grid-helados-cont;
}

.grid-sodas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "grid-sodas-title grid-sodas-title" "grid-sodas-img grid-sodas-content";
}
.grid-sodas .grid-sodas-title {
  grid-area: grid-sodas-title;
  text-align: center;
  padding: 40px;
}
.grid-sodas .grid-sodas-img {
  grid-area: grid-sodas-img;
}
.grid-sodas .grid-sodas-content {
  grid-area: grid-sodas-content;
  display: flex;
  justify-content: space-around;
}

.grid-alcohol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "grid-alcohol-title grid-alcohol-title" "grid-alcohol-img grid-alcohol-content";
}
.grid-alcohol .grid-alcohol-title {
  grid-area: grid-alcohol-title;
  text-align: center;
  padding: 40px;
}
.grid-alcohol .grid-alcohol-img {
  grid-area: grid-alcohol-img;
}
.grid-alcohol .grid-alcohol-content {
  grid-area: grid-alcohol-content;
}

@media (max-width: 425px) {
  .grid-alitas-title {
    margin: 10px;
  }
}
@media (max-width: 768px) {
  .grid-alcohol, .grid-sodas, .grid-helados, .grid-alitas, .grid-hamburguesas, .grid-pizza {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.title-juegos {
  text-align: center;
  margin-top: 10px;
  color: rgb(204, 224, 16);
}

.seccion-playstation, .seccion-xbox, .seccion-nintendo, .seccion-otro {
  margin: 20px;
}

.flex-nintendo-title, .flex-playstation-title, .flex-xbox-title, .flex-pc-title, .flex-arcade-title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.img-nintendo, .img-playstation, .img-xbox, .img-pc, .img-arcade {
  padding-bottom: 10px;
  width: 280px;
  height: 175px;
}

.imgs-nintendo, .imgs-playstation, .imgs-xbox, .imgs-pc, .imgs-arcade {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img-nintendo-games, .img-playstation-games, .img-xbox-games, .img-pc-games, .img-arcade-games {
  width: 250px;
  height: 170px;
  border-radius: 20px;
  padding-bottom: 10px;
  transition: 0.5s;
}

.img-nintendo-games:hover {
  transform: scale(1.8, 1.3);
  transition: 0.5s;
}

.img-playstation-games:hover {
  transform: scale(1.8, 1.3);
  transition: 0.5s;
}

.img-xbox-games:hover {
  transform: scale(1.8, 1.3);
  transition: 0.5s;
}

.img-pc-games:hover {
  transform: scale(2, 1.1);
  transition: 0.5s;
}

.img-arcade-games:hover {
  transform: scale(1.8, 1.3);
  transition: 0.5s;
}

.articulo-nintendo, .articulo-playstation, .articulo-xbox, .articulo-pc, .articulo-arcade {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.seccion-nintendo {
  box-shadow: 0 0 20px 0 rgba(243, 27, 27, 0.3);
}

.seccion-playstation {
  box-shadow: 0 0 20px 0 rgba(51, 64, 240, 0.3);
}

.seccion-xbox {
  box-shadow: 0 0 20px 0 rgba(80, 238, 65, 0.3);
}

.seccion-otro {
  box-shadow: 0 0 20px 0 rgba(215, 255, 37, 0.3);
}

@media (max-width: 425px) {
  .articulo-playstation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .pc-content {
    display: flex;
    flex-direction: column;
  }
}
.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
.content .logo-form {
  text-align: center;
  font-size: 2em;
}
.content .contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.content .contact-form {
  background: #222222;
}
.content .textarea {
  position: relative;
  width: calc(100% - 10px) !important;
  height: 70%;
  top: 20px;
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form div {
  padding: 1em;
}

.contact-form form button, .contact-form form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  border-bottom: 1px solid #D63031;
  color: #fff;
}

.contact-form form button {
  background-color: #D63031;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-info {
  background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-info ul {
  list-style: none;
}

.contact-info ul li {
  padding: 1em;
}

@media (max-width: 425px) {
  .contact-form form {
    display: grid;
    grid-template-columns: 1fr;
  }
  .textarea {
    margin-bottom: 40px;
  }
}
.title-paquetes {
  text-align: center;
  margin: 10px 0;
}

.paquetes {
  width: auto;
  height: auto;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
.paquetes .primerpack {
  box-shadow: 0 0 20px 0 rgba(215, 255, 37, 0.3);
  margin: 10px 20px 0 20px;
  padding: 10px;
  text-align: center;
}
.paquetes .segundopack {
  box-shadow: 0 0 20px 0 rgba(51, 64, 240, 0.3);
  padding: 10px;
  text-align: center;
}
.paquetes .tercerpack {
  box-shadow: 0 0 20px 0 rgba(243, 27, 27, 0.3);
  margin: 10px 20px 0 20px;
  padding: 10px;
  text-align: center;
}
.paquetes .lista {
  list-style: none;
}

@media (max-width: 768px) {
  .paquetes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .segundopack {
    margin: 30px 20px 20px 20px;
  }
}
/*Footer*/
footer div img {
  align-items: center;
}

footer div p {
  text-align: center;
}

@media (max-width: 425px) {
  .d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .socials {
    align-items: center;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
