/*Comienzo del BODY de INDEX*/
.carusel{
    margin: 10px, auto, 30px, auto;
} //!AREGRAL/

.img-size{
    width: auto;
    height: auto;
}

.card-img-top{
    width: auto;
    height: 200px;
}

.articulo-mapa, .articulo-nosotros{
    box-shadow: $white-shadow;
    margin: 20px  10px;
    padding: 5px 10px 10px 10px;
}

.flex-mapa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .mapa{
        padding: 0 0 20px 0;
    }
}