.seccion-playstation, .seccion-xbox, .seccion-nintendo, .seccion-otro{
    margin: 20px;
}

.flex-nintendo-title, .flex-playstation-title, .flex-xbox-title, .flex-pc-title, .flex-arcade-title{
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}

.img-nintendo, .img-playstation, .img-xbox, .img-pc, .img-arcade{
    padding: 0px 0px 10px 0px;
    width: 280px;
    height: 175px;
}

.imgs-nintendo, .imgs-playstation, .imgs-xbox, .imgs-pc, .imgs-arcade{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-nintendo-games, .img-playstation-games, .img-xbox-games, .img-pc-games, .img-arcade-games{
    width: 250px;
    height: 170px;
    border-radius: 20px;
    padding: 0 0 10px 0;
}

.articulo-nintendo, .articulo-playstation, .articulo-xbox, .articulo-pc, .articulo-arcade{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.seccion-nintendo{
    box-shadow: 0 0 20px 0 rgba(243, 27, 27, 0.3);
    .nintendo-title{  /* Maybe quitarlo no me gusta mucho*/
        box-shadow: 0 0 30px 0 #D63031;
        border-radius: 10px;
    }
}

.seccion-playstation{
    box-shadow: 0 0 20px 0 rgba(51, 64, 240, 0.3);
}

.seccion-xbox{
    box-shadow: 0 0 20px 0 rgba(80, 238, 65, 0.3);
}

.seccion-otro{
    box-shadow: 0 0 20px 0 rgba(215, 255, 37, 0.3);
}

@media (max-width: $celular){
    .articulo-playstation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: $tablet) { //!PC NO SE CENTRA EL CONTENIDO EN TABLET//
    .pc-content{
        display: flex;
        flex-direction: column;
    }
}