*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.body-agendar .body-comida .body-index .body-juegos .body-contacto{
    padding: 1.8em;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: #181818;
    color: white;
}

.logo{ //Header//
    height: 50px;
}