//Variables // //!Agregas mas variables de variedad/
$white-shadow: 0 0 20px 0 rgb(255, 255, 255, .3);
$flex-comida: flex row wrap;
//Variables de Displays/
$celular-S: 320px;
$celular: 425px;
$tablet: 768px;
$laptop: 1024px;


//IMPORTS
//Import reseteo
@import "reseteo";
@import "edit-comida";
@import "edit-index";
@import "edit-juegos";
@import "edit-contactos";
