//Variables // 
//Variables de Displays//
$celular: 425px;
$tablet: 500px;

//IMPORTS
//Import reseteo
@import "reseteo";
@import "edit-comida";
@import "edit-index";
@import "edit-juegos";
@import "edit-contactos";

/*Header general*/

.logo{
    height: 50px;
}

/*Comienzo del footer*/
footer div p{  
    text-align: center;
}

footer div img{
    align-items: center;
}

