.title-juegos{
    text-align: center;
    margin-top: 10px;
    color: rgb(204, 224, 16);
}

.seccion-playstation, .seccion-xbox, .seccion-nintendo, .seccion-otro{
    margin: 20px;
}

.flex-nintendo-title, .flex-playstation-title, .flex-xbox-title, .flex-pc-title, .flex-arcade-title{
    display: flex;
    justify-content: center;
    padding-top: 10px
}

.img-nintendo, .img-playstation, .img-xbox, .img-pc, .img-arcade{
    padding-bottom: 10px;
    width: 280px;
    height: 175px;
}

.imgs-nintendo, .imgs-playstation, .imgs-xbox, .imgs-pc, .imgs-arcade{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-nintendo-games, .img-playstation-games, .img-xbox-games, .img-pc-games, .img-arcade-games{
    width: 250px;
    height: 170px;
    border-radius: 20px;
    padding-bottom: 10px;
    transition: .5s;
}

.img-nintendo-games:hover{
    transform: scale(1.8,1.3);
    transition: .5s;
}

.img-playstation-games:hover{
    transform: scale(1.8,1.3);
    transition: .5s;
}

.img-xbox-games:hover{
    transform: scale(1.8,1.3);
    transition: .5s;
}

.img-pc-games:hover{
    transform: scale(2,1.1);
    transition: .5s;
}

.img-arcade-games:hover{
    transform: scale(1.8,1.3);
    transition: .5s;
}

.articulo-nintendo, .articulo-playstation, .articulo-xbox, .articulo-pc, .articulo-arcade{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.seccion-nintendo{
    box-shadow: $red-shadow;
}

.seccion-playstation{
    box-shadow: $blue-shadow;
}

.seccion-xbox{
    box-shadow: 0 0 20px 0 rgba(80, 238, 65, 0.3);
}

.seccion-otro{
    box-shadow: $yellow-shadow;
}

@media (max-width: $celular){
    .articulo-playstation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: $tablet) {
    .pc-content{
        display: flex;
        flex-direction: column;
    }
}