/*Comienzo del BODY de INDEX*/
.carusel{
    margin: 40px 20px 5px 20px;
}
.img-size{
    width: auto;
    height: auto;
}

.articulo-nosotros h1{
    text-align: center;
}

.articulo-nosotros h2 span{
    color: rgb(250, 78, 78);
}

///About Us///

.articulo-nosotros h2{
    text-align: center;
}

.card-img-top{
    width: auto;
    height: 200px;
}

.articulo-mapa, .articulo-nosotros{
    box-shadow: $white-shadow;
    margin: 20px  10px;
    padding: 5px 10px 10px 10px;
}

//mapa//

.articulo-mapa div h2{
    text-align: center;
}

.flex-mapa{
    @include flex-row-wrap;
    justify-content: space-around;
    align-items: center;
    .mapa{
        padding-bottom: 20px;
    }
}

@media (max-width: $tablet) {
    .row{
        align-items: center;
    }
}